* {
	
	position: fixed;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}

body {
	
	background-color: black;
	
}

.screen {
	
	width: 720px;
	height: 480px;
	
	left: 100px;
	top: 100px;
	
	background-color: white;
	cursor: none;
	
}

.rect {
	
	width: 80px;
	height: 240px;
	
	left: 360px;
	top: 360px;
	
	background-color: black;
	
}

.circle {
	
	left: 140px;
	top: 140px;
	
	border-radius: 50%;
	
}

#circle0 {
	
	width: 40px;
	height: 40px;
	
	background-color: red;
	
}

#circle1 {
	
	width: 20px;
	height: 20px;
	
	background-color: blue;
	
}

.helperH {
	
	top: 0px;
	left: 0px;
	
	width: 200px;
	height: 1px;
	
	background-color: green;
	
}

.helperV {
	
	top: 0px;
	left: 0px;
	
	width: 1px;
	height: 200px;
	
	background-color: red;
	
}
