* {
	
	position: fixed;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}

body {
	
	background-color: black;
	
}

p {
	
	font-family: "Consolas", "Lucida Console", "Courier New";
	font-size: 72;
	
}

.circle {
	
	border-radius: 50%;
	
}

.hiderH {
	
	width: 100%;
	height: 100px;
	
	background-color: black;
	
}

.hiderV {
	
	width: 100px;
	height: 100%;
	
	background-color: black;
	
}

.helperH {
	
	display: none;
	
	top: 0px;
	left: 0px;
	
	width: 200px;
	height: 1px;
	
	background-color: green;
	
}

.helperV {
	
	display: none;
	
	top: 0px;
	left: 0px;
	
	width: 1px;
	height: 200px;
	
	background-color: red;
	
}

.rect {
	
	width: 80px;
	height: 240px;
	
	left: 360px;
	top: 360px;
	
	background-color: black;
	
}

.score {
	
	top: 10px;
	left: 100px;
	
	color: white;
	
}

.screen {
	
	width: 720px;
	height: 480px;
	
	left: 100px;
	top: 100px;
	
	background-color: white;
	cursor: none;
	
}

.text {
	
	pointer-events: none;
	
	width: 720px;
	
	left: 100px;
	top: 200px;
	
	text-align: center;
	
	color: black;
	
}

#checkpoint {
	
	display: none;
	
	left: 0px;
	top: 0px;
	
	width: 80px;
	height: 80px;
	
	background-color: #FF80FF;
	
}

#circle0 {
	
	width: 40px;
	height: 40px;
	
	left: 140px;
	top: 140px;
	
	background-color: red;
	
}

#circle1 {
	
	width: 20px;
	height: 20px;
	
	background-color: blue;
	
}

#hiderH0 {
	
	left: 0px;
	top: 0px;
	
}

#hiderV0 {
	
	left: 0px;
	top: 0px;
	
}

#hiderH1 {
	
	left: 0px;
	top: 580px;
	
}

#hiderV1 {
	
	left: 820px;
	top: 0px;
	
}