* {
	
	position: fixed;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
}

body {
	
	background-color: black;
	
}

.screen {
	
	width: 720px;
	height: 480px;
	
	left: 100px;
	top: 100px;
	
	background-color: white;
	cursor: none;
	
}

.rect {
	
	width: 80px;
	height: 240px;
	
	left: 320px;
	top: 240px;
	
	background-color: black;
	
}

.circle {
	
	left: 140px;
	top: 140px;
	
	border-radius: 50%;
	
}

#circle0 {
	
	width: 40px;
	height: 40px;
	
	background-color: red;
	
}

#circle1 {
	
	width: 20px;
	height: 20px;
	
	background-color: blue;
	
}

.helper {
	
	top: 0px;
	left: 0px;
	
	background-color: blue;
	
}

#helperH {
	
	width: 400px;
	height: 2px;
	
}

#helperV {
	
	width: 2px;
	height: 400px;
	
}
